@tailwind base;
@tailwind components;
@tailwind utilities;

textarea {
  field-sizing: content;
}

summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

.tiptap {
  > * + * {
    margin-top: 0.2em;
  }

  .is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  ul {
    list-style-type: circle;
    padding: 0 2rem;
  }

  ol {
    list-style-type: decimal;
    padding: 0 2rem;
  }

  h1 {
    font-weight: 600;
    font-size: large;
  }

  code {
    background-color: black, 0.1;
    color: #616161;
  }

  pre {
    background: #fdf8ea;
    color: black;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.2rem;

    code {
      color: inherit;
      padding: 0;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    border-left: 3px solid #1f1d49;
    padding-left: 1rem;

    p {
      color: grey;
    }
  }

  a {
    color: mediumblue;
    font-weight: 400;
    text-decoration: underline;
  }

  hr {
    border: none;
    border-top: 1px solid #a3a3a3;
    margin: 1rem 0;
  }

  ul[data-type='taskList'] {
    list-style: none;
    padding: 0;

    p {
      margin: 0;
    }

    li {
      display: flex;

      > label {
        flex: 0 0 auto;
        margin-right: 0.5rem;
        user-select: none;
      }

      > div {
        flex: 1 1 auto;
      }

      ul li,
      ol li {
        display: list-item;
      }

      ul[data-type='taskList'] > li {
        display: flex;
      }
    }
  }

  img {
    height: auto;
    max-width: 100%;

    &.ProseMirror-selectednode {
      outline: 3px solid #68cef8;
    }
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.thin-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.1); /* Firefox */
}

/* For Chrome, Safari, and Edge */
.thin-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
